@page "/register"
@inject NavigationManager NavManager

<h2>Create Your Account</h2>

<EditForm Model="@model" style="width: 60%;" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>

        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>

                    <MudTextField Label="First name"
                                  @bind-Value="model.CustomerName" For="@(() => model.CustomerName)" />
                                          
                    <MudTextField Label="Phone Number"
                                     @bind-Value="model.PhoneNumber" For="@(() => model.PhoneNumber)" />

                    <MudTextField Label="Email" Class="mt-3"
                                  @bind-Value="model.EmailAddress" For="@(() => model.EmailAddress)" />

                    <MudTextField Label="Password" Class="mt-3"
                                  @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                </MudCardContent>
                <div class="d-flex justify-content-center btn-lg btn-block">
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="background-color: #FF4200">Register</MudButton>
                    </MudCardActions>
                </div>
                <br />
                <p class="mx-5 px-5">Already have an account <button Variant="Variant.Text" style="color: #FF0000" @onclick="Navigatoor">sign in</button>.</p>
                <br/>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    RegisterModel model = new RegisterModel();

    private void OnValidSubmit(EditContext context)
    {
        StateHasChanged();
    }

    protected void Navigatoor()
    {
        NavManager.NavigateTo("/signin");
    }
}